<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <title>Super 6 Grille House</title>
    <script src="https://kit.fontawesome.com/e9f791b4ab.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        console.log('{{id}}')
    </script>
</head>
<body>
    {{> header Username=Username UserID=id}}
    <section class="container-image1">
        <div class="home-palette-dark">
            <h1 style="font-size: 64px;">SUPER 6 GRILLE HOUSE</h1>
            <h2 class="welcome-text" style="color: white; margin-bottom: 30px;">Malate's famous payong-payong
                restaurant!</h2>
            <p style="color: white; text-align: center;">
                Enjoy Malate's best Filipino dishes, delivered right at your doorstep.<br>
                Deliveries can be made all over Manila.<br>
                What are you waiting for? Order some good food now!
            </p>
        </div>
    </section>
    <section class="container-dark">
        <div class="home-palette-menu">
            <h1 style="margin-top: 15px; font-size: 30px; color: white;">Menu</h1>
            <div class="home-menu-container">
                {{#each Menu}}
                    <div class="menu-card">
                        <a href="/menu/{{this._id}}">
                            <img height="150" width="150" src="{{this.ImagePath}}">
                            <p>{{this.FoodName}} - {{this.Price}}</p>
                        </a>
                    </div>
                {{/each}}
            </div>
            <a href="/menu?category=all" style="color: white;">
                <h2>View the Full Menu</h2>
            </a>
        </div>
    </section>
    <section class="container-light">
        <div class="home-palette-dark">
            <h1>Where to Find Us</h1>
            <div class="home-palette-container">
                <section class="branch-box">
                    <h2>First Branch: 533 Remedios St. Malate Manila <br>
                        <br>Second Branch (Opening Soon): 1880 Maria Orosa St. Malate Manila
                    </h2>
                </section>
                <section class="branch-box">
                    <h2>Contact Numbers:<br>
                        0917-859-9399<br>
                        0917-838-9288<br>
                        0995-106-0700<br>
                        0923-998-1952<br>
                        8400-7956<br>
                    </h2>
                </section>
            </div>
        </div>
    </section>
    {{> footer}}
</body>

</html>